.input_gradient {

	// needs to be relative so the :focus span is positioned correctly
	position:relative;
	
	// bigger font size for demo purposes
	
	// the border gradient
	background: linear-gradient(21deg, #ffffff, #1beabd);
	
	// the width of the input border
	padding: 3px;
	margin:10px;
	// we want inline fields by default
	display: inline-block;
	
	// we want rounded corners no matter the size of the field
	border-radius: 9999em;
	
	// style of the actual input field
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; // needs to be above the :focus span
		
		// summon fancy shadow styles when focussed
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	// we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations.
	span {
		
		transform: scale(.993, .94); // scale it down just a little bit
		transition: transform .5s, opacity .25s;
		opacity: 0; // is hidden by default
		
		position:absolute;
		z-index: 0; // needs to be below the field (would block input otherwise)
		margin:4px; // a bit bigger than .input padding, this prevents background color pixels shining through
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.
		
		// fancy shadow styles
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
	}
	
}

/*  ######################################### */
/*  BANAANI TEEMA VEKS SIITÄ INPUTISTA */
/*  ######################################### */
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
  }
/*  ######################################### */

.weather-data, .weather-form{
    padding-top:30px;
}

.weather{
    padding-top:20px;
}

.btn{
    width: 100%;
    background-color:white;
    box-shadow:
        inset 0 0 0 3px #fff,
        0 0 0 4px #fff,
        1px -1px 20px #ffffff, 
        -1px 1px 20px #10abff
    ;
}


input, input:active {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#cbd0d5;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}